<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body>

    <header></header>
    <div class="container">
        <h1>Welcome</h1>
        <hr />
        <main role="main" class="pb-1">
            <div class="row">

                <div class="col">@RenderBody()</div>
            </div>

        </main>
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>